[submodule "src/smdu/portal/themes/smdu-theme"]
	path = src/smdu/portal/themes/smdu-theme
	url = https://github.com/hvelarde/smdu-theme.git
[submodule "src/smdu/portal/themes/observasampa-theme"]
	path = src/smdu/portal/themes/observasampa-theme
	url = https://github.com/hvelarde/observasampa-theme.git
[submodule "src/smdu/portal/themes/gestaourbana-theme"]
	path = src/smdu/portal/themes/gestaourbana-theme
	url = https://github.com/hvelarde/gestaourbana-theme.git
[submodule "src/smdu.participacao"]
	path = src/smdu.participacao
	url = https://github.com/davilima6/smdu.participacao.git
