*.egg-info
*.mo
*.pyc
*~
.installed.cfg
.mr.developer.cfg
.plone.versioncheck.tracked.json
.project
.pydevproject
.settings/
bin/
buildout.cfg
develop-eggs/
downloads/
eggs/
lib/
local.cfg
local/
mysql.txt
parts/
products/
share/
src/brasil2016.migration
src/collective.*
src/covertile.cycle2
src/plone.*
src/sc.*
var/
audit.log
