*.egg-info
*.mo
*.py?
*~
.coverage
.installed.cfg
.mr.developer.cfg
.plone.versioncheck.cache/
.plone.versioncheck.tracked.json
.project
.pydevproject
.settings/
bin/
buildout.cfg
data/
develop-eggs/
downloads/
eggs/
htmlcov/
lib/
local.cfg
local/
mysql.txt
parts/
products/
share/
src/collective.*
src/plone.*
src/Products.*
src/sc.*
var/
